/* font adding */
@font-face {
    font-family: Bolero;
    src: local(Bolero), url(../fonts/bolero.ttf);
}

@font-face {
    font-family: 'Web Serveroff';
    src: local('Web Serveroff'), url(../fonts/web-serveroff.otf);
}

/* general styles */
body {
    background: url(../images/bg-strings.png) repeat rgb(240, 239, 234);
    color: rgb(82, 82, 82);
    font: 13px/22px Arial, Helvetica, sans-serif;
}

#header, #footer, #page {
    margin: 0 auto;
    width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(42, 42, 42);
    font-family: 'Web Serveroff', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 70px;
    line-height: 70px;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 15px 0;
}

h3 {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 20px 0;
}

h4 {
    font-size: 25px;
    line-height: 25px;
}

h5 {
    font-size: 20px;
    line-height: 20px;
}

h6 {
    font: bold 13px/22px Arial, Helvetica, sans-serif;
    text-transform: none;
}

h6 > span {
    font-weight: 0;
}

.post:after {
    content: '';
    display: block;
    clear: both;
}

.post-title > a, .post-title > a:focus {
    color: rgb(42, 42, 42);
    text-decoration: none;
}

.post-title a:hover {
    color: rgb(42, 42, 42);
    text-decoration: underline;
}

a, a:focus {
    color: rgb(174, 160, 116);
    text-decoration: underline;
}

a:hover {
    color: rgba(174, 160, 116, 0.8);
    text-decoration: none;
}

p {
    margin: 5px 0 15px;
}

b {
    font-weight: bold;
}

input, label {
    display: block;
}

table tr td {
    vertical-align: top;
}

.page-switcher:not(:last-of-type) {
    margin-right: 5px;
}

.pagination > .active > a, .pagination > .active > a:focus {
    background-color: #AEA074;
    border-color: #DDDDDD;
}

.pagination > .active > a:hover {
    background-color: #BEB38F;
    border-color: #DDDDDD;
}

.pagination > li > a, .pagination > li > a:focus {
    color: #AEA074;
}

.pagination > li > a:hover {
    color: #BEB38F;
}

.pagination > .disabled > span {
    color: #8A8A8A;
}

.alert {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
}

.content > div.alert:last-of-type {
    margin-bottom: 30px;
}

.alert p {
    margin-bottom: 5px;
}


.alert-success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}

.alert-info {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

.main-photo {
    display: block;
}
.article-description {
    margin: 10px 0 15px;
}

.form-control {
    border-radius: 3px;
}

.site-error h1 {
    margin-bottom: 10px;
}