.active-item {
    color: #ECF0F5 !important;
    font-weight: bold;
}
.detail-view tr > th {
    width: 150px;
}
.wrapper h1 {
    margin-bottom: 20px;
}
.logo-lg, .logo-mini {
    font-weight: bold;
    text-transform: uppercase;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    border-left: none;
}
.main-header .logo {
    font-family: Calibri, sans-serif;
}
.btn-mb {
    margin-bottom: 10px;
}